@import './variables.scss';
@import './components/feed/feed.scss';
@import './components/navbar/navbar.scss';
@import './components/common/card/card.scss';

.app {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: $navbar-height;
    }
}