// Height Start
$navbar-height: 50px;
// Height End

// Colors Start
$blue-color: #1fa7cc;
$light-blue-color: #d5eef4;
$antracite-color: #6d6d6d;
// Colors End

// Hover Start
$hover-opacity: 0.7;
// Hover End